<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-9">
        <h3>商品一覧</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>商品ID</th>
                    <th>商品名</th>
                    <th>ジャンル</th>
                    <th>税抜価格</th>
                    <th>ステータス</th>
                </tr>
            </thead>
            <tbody>
                <% @items.each do |item| %>
                    <tr>
                        <td>
                            <%= item.id %>
                        </td>
                        <td>
                            <%= item.name %>
                        </td>
                        <td>
                            <%= item.genre.name %>
                        </td>
                        <td>
                            <%= item.price_nontax %>
                        </td>
                        <td>
                            <%= item.sale_status%>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
  </div>
</div>