<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <h3>注文詳細画面</h3>
        <div class="field row">
            <div class="col-md-3"><h4>購入者</h4></div>
            <div class="col-md-6"><%= @order.end_user.last_name + @order.end_user.first_name %></div>
        </div>
        <br>
        <div class="field row">
            <div class="col-md-3"><h4>配送先</h4></div>
            <div class="col-md-6"><%= @order.address %></div>
        </div>
        <br>
        <div class="field row">
            <div class="col-md-3"><h4>支払い方法</h4></div>
            <div class="col-md-6"> <%= @order.payment_method_i18n %></div>
        </div>
        <br>
        <div class="field row">
            <div class="col-md-3"> <h4>注文ステータス</h4></div>
            <div class="col-md-6">
                <%= form_for @order, url: admin_order_path(@order) do |f|%>
                    <%= f.select :status, Order.statuses.keys.map { |k| [I18n.t("enums.order.status.#{k}"),k] }%>
                    <%= f.submit '更新', class: 'btn btn-primary' %>
                <% end %>
            </div>
        </div>
    </div> 
    <br>
    <br>
    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered">
                <thead>
                    <th>商品</th>
                    <th>単価(税込)</th>
                    <th>個数</th>
                    <th>小計</th>
                    <th>製作ステータス</th>
                    <th></th>
                </thead>
                <tbody>
                    <% @order.order_items.each do |order_item| %>
                        <%= form_for order_item, url: admin_order_item_path(order_item) do |f| %>
                            <tr>
                                <td><%= order_item.item.name%></td>
                                <td>
                                    <%= order_item.current_value%>
                                <td>
                                    <%= order_item.order_quanitity %>
                                </td>
                                <td>
                                    <%= order_item.order_quanitity * order_item.current_value %>
                                </td>
                                <td>
                                    <%= f.select :is_production, OrderItem.is_productions.keys.map { |k| [I18n.t("enums.order_item.is_production.#{k}"),k] }, {class: 'col-md-9' } %>
                                </td>
                                <td>
                                    <%= f.submit '更新', class: 'btn btn-primary' %>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>       
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="field row">
                <div class="col-md-6"><h4>商品合計</h4></div>
                <div class="col-md-6"><%= @order.total_payment - @order.postage %></div>
            </div>
            <br>
            <div class="field row">
                <div class="col-md-6"><h4>送料</h4></div>
                <div class="col-md-6"><%= @order.postage %></div>
            </div>
            <br>
            <div class="field row">
                <div class="col-md-6"><h4>請求金額合計</h4></div>
                <div class="col-md-6"><%= @order.total_payment %></div>
            </div>
        </div>
    </div>
</div>