<br>
<br>
<br>
<br>
<br>
<div class="container">
    <h3>ジャンル追加・一覧画面</h3>
    <br>
    <%= form_for @genre ,url: admin_genre_path do |f| %>
        <div class="field row">
        <div class="col-md-6">
            <%= f.label :ジャンル %>
            <%= f.text_field :name %>
            <%= f.radio_button :is_validity, :true %>
            <%= f.label :is_validity, "有効", { style: "display: inline-block;"} %>
            <%= f.radio_button :is_validity, :false %>
            <%= f.label :is_validity, "無効", { style: "display: inline-block;"} %>
            <%= f.submit :変更を保存する, class: 'btn btn-primary'%>
        </div>
        </div>
    <% end %>