<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <h3>配送先登録/一覧</h3>
        <%= form_with(model: @address, url: public_addresses_path) do |f|%>
            <div class="field row">
                <div class="col-md-3"><h4>郵便番号(ハイフンなし)</h4></div>
                <div class="col-md-6"><%= f.text_field :postal_code %></div>
            </div>
            <br>
            <div class="field row">
                <div class="col-md-3"><h4>住所</h4></div>
                <div class="col-md-6"><%= f.text_field :address %></div>
            </div>
            <br>
            <div class="field row">
                <div class="col-md-3"><h4> 宛名</h4></div>
                <div class="col-md-6"> <%= f.text_field :address_name %></div>
            </div>
            <br>
            <div class="field row">
                <div class="col-md-7"></div>
                <div class="col-md-5">
                    <%= f.submit "登録する", class:"col-xs-offset-4 btn btn-success" %>
                </div>
            </div>
        <% end %>
    </div> 
    <br>
    <br>
    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered">
                <thead>
                    <th>郵便番号</th>
                    <th>住所</th>
                    <th>宛名</th>
                    <th></th>
                </thead>
                <tbody>
                    <% @addresses.each do |address| %>
                        <tr>
                            <td><%= address.postal_code %></td>
                            <td>
                                <%= address.address%>
                            </td>
                            <td>
                                <%= address.address_name %>
                            </td>
                            <td>
                                <%= link_to '編集する', edit_public_address_path(address), class:"btn btn-primary" %>
                                <%= link_to '削除する', public_address_path(address), method: :delete , class:"btn btn-danger" %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>       
        </div>
    </div>
</div>