<br>
<br>
<br>
<br>
<br>
<br>
<div class="container" >
    <div class="row">
        <h3>注文履歴</h3>
        <div class="col-xs-12">
            <table class="table table-bordered">
                <thead>
                    <th>注文日</th>
                    <th>配送先</th>
                    <th>注文商品</th>
                    <th>支払金額</th>
                    <th>ステータス</th>
                    <th>注文詳細</th>
                </thead>
                <tbody>
                    <% @orders.each do |order| %>
                        <tr>
                            <td><%= order.created_at.strftime('%Y/%m/%d')%></td>
                            <td>
                                <%= order.postal_code %>
                                <br>
                                <%= order.address %>
                                <br>
                                <%= order.address_name %>
                            </td>
                            <td>
                                <% order.order_items.each do |order_item| %>
                                    <%= order_item.item.name%>
                                <% end %>
                            </td>
                            <td>
                                <%= order.total_payment%>
                            </td>
                            <td><%= order.status_i18n %></td>
                            <td><%= link_to '表示する', public_order_path(order), class:"btn btn-primary" %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
                