<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <h3>購入情報入力</h3>
        <br>
        <%= form_with model: @order, url: verification_public_orders_path, method: :post,local: true do |f| %>
            <div class="col-md-1"></div>
            <% if @order.errors.any? %>
                <div id="error_explanation">
                    <h2><%= @order.errors.count %>件のエラーが発生しました。</h2>
                    <ul>
                    <% @order.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                    </ul>
                </div>
            <% end %>
            <div class="col-md-9">
                <div class="field row">
                    <div class="col-md-3">
                        <%= f.label :支払い方法 %>
                    </div>
                    <div class="col-md-6">
                        <label><%= f.radio_button :payment_method, :credit_card,:checked => true %> クレジットカード</label>
                        <label><%= f.radio_button :payment_method, :bank_transfer%> 銀行振込</label>
                    </div>
                </div>
                <br>
                <div class="field row">
                    <div class="col-md-3">
                        <%= f.label :お届け先 %>
                    </div>
                    <div class="col-md-9">
                        <label>
                            <%= f.radio_button :address_option,0,:checked => true %>
                            ご自身の住所<br>
                            <%= current_end_user.postal_code %><br>
                            <%= current_end_user.address %><br>
                            <%= "#{current_end_user.last_name} #{current_end_user.first_name}" %>
                        </label>
                        <br>
                        <label>
                            <%= f.radio_button :address_option,1 %>
                            登録済み住所から選択<br>
                             <%= f.collection_select :address_collection, @addresses, :id, :view_address_detail, include_blank: "-- 選択して下さい --" %>
                        </label>
                        <br>
                        <label>
                            <%= f.radio_button :address_option,2%>
                            新しいお届け先<br>
                                郵便番号<%= f.text_field :postal_code %><br>
                                住所<%= f.text_field :address %><br>
                                宛名<%= f.text_field :address_name %>
                        </label>
                    </div>
                </div>
                <br>
                <br>
                <div class="actions order_new_field">
                    <%= f.submit '確認画面へ進む', class: "btn bg-primary" %>
                </div>
            </div>
        <% end %>
    </div>
</div>
