<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-9">
        <h3>注文情報確認</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>商品名</th>
                    <th>単価(税込)</th>
                    <th>数量</th>
                    <th>小計</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @cart_items.each do |cart_item| %>
                    <tr>
                        <td>
                            <%= attachment_image_tag cart_item.item, :image ,fallback: "no_image.jpg", size: "60x60"%> 
                            <%= cart_item.item.name %>
                        </td>
                        <td>
                            <%= cart_item.item.price_nontax %>
                        </td>
                        <td>
                            <%= form_for(cart_item, url: public_cart_item_path(cart_item.id)) do |f| %>
                                <%= f.number_field :amount, min:1, step:1, rows:'5',placeholder: "個数選択"  %>
                                <%= f.submit "変更する" , class: "btn  btn-primary"%>
                            <% end %>
                        </td>
                        <td>
                            <%= "¥#{(cart_item.amount * cart_item.item.price_nontax).to_i}" %>
                        </td>
                        <td>
                            <%= link_to "削除する",public_cart_item_path(cart_item), method: :delete, "data-confirm" => "本当に削除しますか？",class:"btn-sm btn-danger" %>
                        </td>
                    </tr>
                    <% @order.total_payment += (cart_item.item.price_nontax * cart_item.amount).to_i %>
                <% end %>
            </tbody>
        </table>
        <table class="table-bordered">
            <tr>
            <td>送料</td>
            <td>¥800</td>
            </tr>
            <tr>
            <td>商品合計</td>
            <td><%= "¥#{@order.total_payment}"%></td>
            </tr>
            <tr>
            <td>請求金額</td>
            <td><%= "¥#{@order.total_payment += @order.postage}" %></td>
            </tr>
        </table>  
        <div>
            <h3>支払方法</h3>
            <%= @order.payment_method_i18n%>
            <h3>お届け先</h3>
            <%= @order.address %>
        </div>
        <%= form_for @order,url: public_orders_path,method: :post do |f| %>
            <div class="actions order_new_field">
                <%= f.hidden_field :postage, :value => @order.postage %>
                <%= f.hidden_field :payment_method, :value => @order.payment_method %>
                <%= f.hidden_field :total_payment, :value => @order.total_payment %>
                <%= f.hidden_field :address_name, :value => @order.address_name %>
                <%= f.hidden_field :address, :value => @order.address%>
                <%= f.hidden_field :postal_code, :value => @order.postal_code%>
                <%= f.hidden_field :status, :value => @order.status%>
                <%= f.submit "購入を確定する", class: "btn bg-primary" %>
            </div>
        <% end %>
    </div>
  </div>
</div>